/*
    RESET ELEMENTS
*/

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
span {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #95d2d7;
}
a:hover {
    color: #fff;
}

button.header-button {
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    padding: 10px 20px;
    color: #95d2d7;
    border: 2px solid #95d2d7;
    background-color: #000;
}
button.header-button:hover {
    background-color: #111;
    color: #95d2d7;
}

/* 
    NAVIGATION BAR
*/

.nav-bar {
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 20px 0;
}
.nav-bar .nav-content {
    color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 1280px;
    width: 100%;
    flex: 1;
    padding: 0 20px;
}
.nav-bar .nav-content .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}
.nav-bar .nav-content .menu .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 40px;
}
.nav-bar .nav-content .menu .link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin-right: 40px;
}
.nav-bar .nav-content .menu .link:hover {
    color: #95d2d7;
}
.nav-bar .nav-content .menu .link:last-child {
    margin-right: 0;
}
.nav-bar .nav-content .search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar .nav-content .search input[type='text'] {
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.8em;
    color: #333;
    width: 200px;
}

/*
    FULL WIDTH BANNER
*/

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: url(../../assets/images/rock.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #333;
    width: 100%;
    height: 300px;
    max-height: 300px;
    margin: 0;
    padding: 0;
}
/* dim the banners background image */
.banner .overlay {
    background-color: rgba(0, 0, 0, 0.75);
    color: #eee;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* banner content */
.banner .overlay .banner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
}
.banner .overlay .banner-content .content-block {
    padding: 10px;
    margin: 10px;
    background-color: rgba(251, 4, 214, 0.5);
    color: #eee;
}

/*
    MAIN CONTAINER
*/

.main-container {
    background: rgb(17, 17, 17);
    background: linear-gradient(0deg, rgba(9, 9, 9, 1) 0%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
}
.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 400px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

/*
    FOOTER
*/

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-top: 1px solid #333;
    width: 100%;
    padding: 50px 0;
}
.footer .copyright {
    color: #eee;
    font-size: 0.8em;
    font-style: italic;
    padding: 10px;
    text-align: center;
}
.footer .footer-content {
    color: #eee;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    justify-content: center;
    align-items: flex-start;
    max-width: 1280px;
    width: 100%;
}
.footer .footer-content .footer-block {
    margin: 20px;
}
.footer .footer-content .footer-block h6 {
    /* color: #eee; */
    font-size: 1.1em;
    padding: 0;
    margin: 0 0 10px;
}
.footer .footer-content .footer-block a {
    color: #95d2d7;
    text-decoration: none;
}
.footer .footer-content .footer-block a:hover {
    color: #fff;
    text-decoration: underline;
}

/*
    MEDIA QUERIES
*/
