/*
    TRACKS CAROUSEL
*/

.tracks-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tracks-header .title {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
}
.tracks-header .title h1 {
    font-family: 'Bebas Neue', serif;
    font-size: 1.8em;
    font-weight: normal;
    color: #eee;
}
.tracks-header .tracks-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.tracks-header .tracks-controls i {
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
}
.tracks-header .tracks-controls i:hover {
    color: #95d2d7;
}

.tracks-carousel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    height: 260px;
    padding: 0 20px;
}
.tracks-carousel::-webkit-scrollbar {
    display: none;
}

.tracks-carousel .track {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 10px;
    color: #eee;
    width: 300px;
}

.tracks-carousel .track .image {
    width: 60px;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
}
.tracks-carousel .track .image img {
    width: 60px;
    border-radius: 5px;
}
.tracks-carousel .track .image .overlay {
    display: none;
}
.tracks-carousel .track .image:hover .overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.tracks-carousel .track .image:hover .overlay i {
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

.track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
}
.tracks-carousel .track .track-info .artist-name,
.tracks-carousel .track .track-info .track-name {
    font-size: 0.8em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
}
.tracks-carousel .track .track-info .artist-name {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8em;
    margin-top: 0;
}
