/*
    SHOWS CAROUSEL
*/

.screen-title {
    color: $hulu-green;
    font-family: $heading-font-families;
    font-size: 2em;
    text-align: center;
}

.shows-carousel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    .show {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        margin: 10px;
        color: $plain-text;

        .image {
            border-radius: 5px;
            margin: 0 0 5px;
            position: relative;
            width: $tile-width;
            height: $tile-height;
            transition: all 0.5s ease-in-out;

            img {
                height: $tile-height;
                width: $tile-width;
                border-radius: 5px;
                transition: all 0.5s ease-in-out;
            }

            .overlay {
                display: none;
            }
        }

        .show-info {
            .show-name,
            .show-rating {
                color: $show-text;
                font-size: 0.8em;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: $tile-width;
            }
            .show-name {
                font-size: 1.1em;
            }
        }

        &:hover,
        &:focus {
            .image {
                width: calc($tile-width + 20px);
                height: calc($tile-height + 20px);

                img {
                    width: calc($tile-width + 20px);
                    height: calc($tile-height + 20px);
                }

                .overlay {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $medium-overlay;
                    border: $thick-hulu-border;
                    border-radius: 5px;

                    i {
                        color: $plain-text;
                        font-size: 3em;
                        cursor: pointer;
                    }
                }
            }

            .show-info {
                .show-name {
                    color: $plain-text;
                    font-weight: bold;
                }
            }
        }

        &:focus-visible {
            outline: none;
            box-shadow: none;
        }
    }
}
.shows-carousel::-webkit-scrollbar {
    display: none;
}
