// Colors
$plain-text: #eeeeee;
$show-text: #888888;
$hulu-green: #1ce783;

// Fonts
$default-font-size: 16px;
$default-font-families: 'RobotoCondensed', 'Helvetica Neue', sans-serif;
$heading-font-families: 'Boldonse', sans-serif;

// Measurements
$tile-height: 130px;
$tile-width: 280px;
