// Colors
$black: #000000;
$hulu-green: #1ce783;
$main-background: #0a0a0a;
$plain-text: #eeeeee;
$show-text: #888888;

// Overlays
$banner-overlay: rgba(0, 0, 0, 0.9);
$dark-overlay: rgba(0, 0, 0, 0.95);
$medium-overlay: rgba(0, 0, 0, 0.75);

// Fonts
$default-font-size: 16px;
$default-font-families: 'RobotoCondensed', 'Helvetica Neue', sans-serif;
$heading-font-families: 'Boldonse', sans-serif;

// Measurements
$banner-height: 280px;
$logo-large: 300px;
$max-width: 1280px;
$thick-hulu-border: 4px solid $hulu-green;
$thin-hulu-border: 2px solid $hulu-green;
$tile-height: 130px;
$tile-width: 280px;
