@import './reset';
@import './variables';
@import './fonts';

body {
    background-color: $black;
    font-family: $default-font-families;
    font-size: $default-font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $plain-text;
}

/*
    MAIN CONTAINER
*/

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $black;
    background: url('~../assets/images/gradient-background.png') repeat-x top center fixed;
    background-size: cover;
}
.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: $max-width;
    overflow: hidden;
    padding: 20px;
    width: 100%;
    top: 0;
    left: 0;
}

button {
    background-color: $hulu-green;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 250ms, color 250ms;

    &:hover {
        background-color: rgba(28, 231, 131, 0.6);
    }
}

@import './banner';
@import './shows';
@import './modal'
